<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>FOAR</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  
  <body>
    <div class="jumbotron">
    </div>
    <header>
	    <nav id="navigation-bar" class="navbar navbar-expand-lg navbar-light ">
	    	<div class="container">
	    		<a class="navbar-brand">FOAR</a>
	    	</div>
	    	<div class="collapse navbar-collapse">
	    		<ul class="navbar-nav mr-auto">
	    			<li class="nav-item">
	    				<a th:href="@{/user_home}">Home</a>
	    			</li>
	    			<li class="nav-item">
	    				<a th:href="@{/recipe}">Recipes</a>
	    			</li>
	    			<li class="nav-item">
	    				<a th:href="@{/order}">Order</a>
	    			</li>
	    			<li class="nav-item">
	    				<a th:href="@{/logout}">Logout</a>
	    			</li>
	    		</ul>
	    	</div>
	    </nav>
    </header>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>User Home Page
				</h1>
			</div>
			<div class="col-sm-12">
				<h3>Available Foods</h3>
			</div>
			<div class="col-sm-3">Restaurant ID</div>
			<div class="col-sm-3">Food Name</div>
			<div class="col-sm-3">Food type</div>
			<div class="col-sm-3">Food Price</div>
		</div>
		<div class="row" th:each="food:${foods}">
			<div class="col-sm-3" th:text="{food.restaurantId}"></div>
			<div class="col-sm-3" th:text="{food.name}"></div>
			<div class="col-sm-3" th:text="{food.type}"></div>
			<div class="col-sm-3" th:text="{food.price}"></div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h3>Available Restaurants</h3>
			</div>
			<div class="col-sm-3">Restaurant Id</div>
			<div class="col-sm-3">Restaurant Name</div>
			<div class="col-sm-3">Restaurant Location</div>
			<div class="col-sm-3">Restaurant Email</div>
			<div class="col-sm-3">Restaurant PhoneNumber</div>
		</div>
		<div class="row">
			<div class="col-sm-12" th:text="${restaurant.id}"></div>
			<div class="col-sm-12" th:text="${restaurant.name}"></div>
			<div class="col-sm-12" th:text="${restaurant.location}"></div>
			<div class="col-sm-12" th:text="${restaurant.email}"></div>
			<div class="col-sm-12" th:text="${restaurant.phonenumber}"></div>
		</div>		

		<div class="row">
			<div class="col-sm-12">
				<h3>Available Deliveries</h3>
			</div>
			<div class="col-sm-3">Delivery Id</div>
			<div class="col-sm-3">Delivery Name</div>
			<div class="col-sm-3">Delivery Email</div>
			<div class="col-sm-3">Delivery PhoneNumber</div>
		</div>
		<div class="row">
			<div class="col-sm-12" th:text="${delivery.id}"></div>
			<div class="col-sm-12" th:text="${delivery.name}"></div>
			<div class="col-sm-12" th:text="${delivery.email}"></div>
			<div class="col-sm-12" th:text="${delivery.phonenumber}"></div>
		</div>		
	</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:href="@{/js/jquery-3.3.1.slim.min.js}" src="../js/jquery-3.3.1.slim.min.js"></script>
    <script th:href="@{/js/popper.min.js}" src="../js/popper.min.js"></script>
    <script th:href="@{/js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
    <script th:href="@{/js/holder.min.js}" src="../js/holder.min.js"></script>    
</body>
</html>
